* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'crimson text';
}

body {
    background: rgb(25, 16, 46);
}

.quote-box {
    background: linear-gradient(45deg, rgb(95, 83, 14), rgb(255, 246, 194));
    width: 700px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 5px rgb(78, 78, 78);
    font-weight: 600;
}

.quote-box h1 {
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h1::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-box blockquote {
    font-size: 30px;
    min-height: 110px;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
    content: '"';
}

.quote-box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: relative;
    top: 50%;
    left: -30px;
}

.quote-box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-box button {
    background: rgb(78, 78, 78);
    color: #fff;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    border: none;
}

.new {
    border: none;
    transition: 0.3s;
}

.new:hover {
    background: #00a8ad;
    box-shadow: 1px 1px 5px black;
}

.quote-box button:hover {
    background: #00a8ad;
    box-shadow: 1px 1px 5px black;
}

.quote-box button img {
    width: 20px;
    margin-right: 10px;
}

.quote-box button:nth-child(2) {
    background: rgb(221, 221, 221);
    color: #000000;
    font-weight: 600;
}